# Arquivos de credenciais e senhas (MUITO IMPORTANTE)
serviceAccountKey.json
*serviceAccountKey*.json
*.env
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Arduino / ESP32
*.bin
*.elf
*.hex
*.uf2
*.map
*.o

# OS
.DS_Store
Thumbs.db
